<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<style>
	#ish_logo{
		margin-left: 10px;
	}
	#wrapper{
		margin-left: 10px;
	}
	#logout {
		background: none;
		border: none;
		padding: 0px;
		font: inherit;
		color: #444;
	}

	#right {
		margin-right: 15px;
	}
	nav ul a, nav .brand-logo, #dropdown1 a {
		color: #444;
	}
	/* label color */
   .input-field label {
     color: #444;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #444;
   }
   .input-field input[type=email]:focus + label {
     color: #444;
   }
   .input-field input[type=Password]:focus + label {
     color: #444;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #444;
     box-shadow: 0 1px 0 0 #444;
   }
    .input-field input[type=email]:focus {
     border-bottom: 1px solid #444;
     box-shadow: 0 1px 0 0 #444;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #444;
     box-shadow: 0 1px 0 0 #444;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #444;
     box-shadow: 0 1px 0 0 #444;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #444;
     box-shadow: 0 1px 0 0 #444;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ff8a65;
   }
</style>


<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper deep-orange lighten-2 z-depth-2">
			<a href="/" class="brand-logo"><img src="/assets/ishlogo.png" height='60px' id="ish_logo"></a>
		  <ul class="right hide-on-med-and-down" id="right">
		  	<li> <a href="/checkout"><i class="material-icons prefix">shopping_cart</i></a></li>
		    <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= @user.first_name %> <%= @user.last_name %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
		    <ul id='dropdown1' class='dropdown-content'>
		      <li><a href="/users" data-no-turbolink="true">Main</a></li>
		      <li><a href="/edit/<%= @user.id %>" data-no-turbolink="true">Edit Profile</a></li>
		      <li><a href="/items/show" data-no-turbolink="true">Buy</a></li>
		      <li><a href="/items/create" data-no-turbolink="true">Sell</a></li>
		    </ul>
		      <li><form action="/logout" method="post">
			  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			  <input type="hidden" name="_method" value="delete">
			  <input type="submit" id="logout" value="Logout">
			  </form></li>
		  </ul>
		</div>
	</nav>
</div>

<div id="wrapper">
<h2>Post your item</h2>

<div class="row">
<%= form_for @item, url: {action: "create"}, :html => {:multipart => true} do |f| %>
	<input type="hidden" name="user_id" value="<%=@user.id%>">
	<input type="hidden" name="location_id" value="<%=@user.location.id%>">
 <div class="input-field col s6"><i class="material-icons prefix">redeem</i><%= f.label :name %>
 <%= f.text_field :name %></div>

 <div class="input-field col s6"><i class="material-icons prefix">mode_edit</i><%= f.label :description %>
 <%= f.text_field :description %></div>

 <div class="input-field col s6"><i class="material-icons prefix">attach_money</i><%= f.label :price %>
 <%= f.text_field :price %></div>

 <%= f.label :Picture %>
 <%= f.file_field :ipic %>
 <p></p>
</div>
<!-- End of row -->
 <%= f.submit :submit, value: "Post Item", class: "btn deep-orange lighten-2" %>
 
<% end %>

</div>
<!-- End of wrapper -->
